body{
    color: black;
    background-color: #F4D03F;
    background-image: linear-gradient(0deg, #F4D03F 0%, #16A085 100%);
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-control{
    background-color:rgb(0, 255, 191);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(83, 24, 223, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

#Meals-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.every-Meals {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    cursor: pointer;
    color: black;
}

.every-Meals img {
    border-radius: 10px;
}

.select-food {
    width: 500px;
    padding: 30px;
    height: auto;
    margin: auto;
    background-color: #fe4089;
    background-image: linear-gradient(360deg, #4cf099 0%, #f1ec44 100%);
    color: black;
    border-radius: 25px;
}
.select-food img {
    width: 400px;
    background-color: wheat;
    border-radius: 10px;
}
.select-food li {
    list-style: none;
}
.err-msg {
    color: black;
    background-color: magenta;
    padding: 20px;
    margin: auto;
    width: 30%;
    border-radius: 22px;
    height: 120px;
}